* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0f172a;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links li a {
    color: white;
    text-decoration: none;
}

.links li a:hover {
    color: #38bdf8;
}

#searchBox {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    height: 100vh;
     background-image: url("home.jpg");
    background-size: cover;        /* fit whole image */
    background-position: center;   /* center image */
    background-repeat: no-repeat;

    color: #0f172a; /* text visible*/
    /*background: #e0f2fe;*/
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

/* PRODUCTS */
.products {
    padding: 40px;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.product button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background: #1d4ed8;
}

/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    padding: 30px;
    margin-top: 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    margin-bottom: 5px;
}

footer h4 {
    margin-bottom: 10px;
}

footer p {
    margin-top: 10px;
}

copyright {
    text-align: center;
    margin-top: 20px;
}
